header{
    height: 100vh;
    padding-top: 2rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

/* ========= CTA ========= */

.cta{
    margin-top: 2.5rem;
    justify-content: center;
    display: flex;
    gap: 1.2rem;
}

/* ========= HEADER SOCIALS ========= */

.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after{
    content: '';
    width: 1px ;
    height: 2rem;
    background: var(--color-primary);
}

/* ========= SCROLL DOWN ========= */

.scroll__down{
    position: absolute;
    right: 2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight:300;
    font-size: 0.9rem;
    text-decoration: none;

}

/* =========== MEDIA QUERIES (MEDIUM DEVICES)========== */

@media screen and (max-width:1024px) {
    header{
        height: 68vh;

    }
}

/* =========== MEDIA QUERIES (SMALL DEVICES)========== */

@media screen and (max-width:600px) {
    header{
        margin-top: 5rem;
        height: 100vh;
    }
    .header__socials{
        display: none;
    }
    .scroll__down{
        display: none;
    }
    .logo__quote{
        font-size: 1rem;
        margin-top: 6rem;
    }
}
