.sticky_logout{
    position: -webkit-sticky; /* Safari */
    position: fixed;
    top: 0;
    margin-right: 1rem;
    margin-top: 1rem;
    right: 0;
    width: 28px;
}

.sticky_icon{
    width: 30px;
    height: 30px;
    color: var(--color-primary);
    cursor: pointer;
}
.stickey_name{
    color: var(--color-primary);
    rotate: -90deg;
    margin-top: 10rem;

}