.services{
    margin-top: 5rem;
}

.services__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.services__item{
    padding: 1.3rem;
    border-radius: 1.5rem;
    border: 1px solid transparent;
    transition: var(--transition);
    /* height: 26rem; */

	transform: scale(.9);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.services__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;

    -webkit-transform: scale(1);
	transform: scale(1);
}

.services__item-image{
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
    height: 15rem;
}


.services__item h3{
    margin: 0 0 1rem;
    text-align: center;
}

.services__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    margin-top: 1.5rem;
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES)========== */

@media screen and (max-width:1024px) {
    .services__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
        align-items: center;
    }
    .services__item-cta{
        display: flex;
        justify-content: center;
      }
}

/* =========== MEDIA QUERIES (SMALL DEVICES)========== */

@media screen and (max-width:600px) {
    .services__container{
        grid-template-columns: 1fr;
        gap: 1rem;
        text-align: center;
    }
}
