.main_bookindDetails_container{
    flex: 4;
    background-color: rgb(2, 2, 2);
    height: 100vh;
    color: var(--color-white);
}
.box_container{
    width: 100%;
    height: 90vh;
    background-color: var(--color-white);
    color: var(--color-white);
}

.button_section{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.button_class{
    margin: 1rem;
}

.invoice_icon{
    margin-left: 1rem;
}
.invoice_icon:hover{
    color: #2a0687;
    transition: .5s;
    transform: scale(1.5);
    z-index: -1;
}

.switch_button_ctl{
    padding: 0.5rem;
}

.delete_icon{
    width: 20px;
    height: 20px;
}

.delete_icon:hover{
    color: #2a0687;
    transition: .5s;
    transform: scale(1.5);
    z-index: -1;
}

.delete_validation{
    color: var(--color-white);
    font-style: italic;
}

.dropdown_btn{
    display: flex;
    padding: 1rem;
    justify-content: flex-start;
}

.dropdown_item{
    align-items: center;
    margin-left: 1rem;
    color: var(--color-primary);
    margin-top: 8px;
}
.dropdown_item:hover {
    color: #ffee10;
    transition: .5s;
    transform: scale(2);
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
    cursor: cell;
}
.dropdown_heading{
    color: var(--color-primary);
    margin-left: 10rem;
    margin-top: 2px;
}