/* =======ourServices section start======= */
 
.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    margin: 0 2rem;
 }
 
 .services .box-container .box{
    padding: 2rem;
    text-align: center;
 }
 
 .services .box-container .box img{
    height: 5rem;
    width: auto;
    margin-bottom: 1rem;
    align-items: center;
    margin-left: 150px;
 }
 
 .services .box-container .box h3{
    font-size: 1.5rem;
    color: var(--color-primary);
    text-transform: capitalize;
    margin: 1rem 0;
 }
 
 .services .box-container .box p{
    line-height: 2;
    font-size: 1rem;
    color:var(--color-white);
 }
 