.apply_button{
    justify-content: center;
    margin-top: 2rem;
    display: flex;
    justify-content: center;    
    border: none !important;
}
.FinalAmount{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    font-style: italic;
    color: var(--color-primary);
}
.empty_cart{
    color: red;
    font-style: italic;
}

.qtyShow{
    font-weight: 600;
    font-style: italic;
    color: var(--color-primary);
    margin-top: 16px;
}
/* .qtyIncrease_Button{
    transform: rotate(0deg);
}
.qtyIncrease_Button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
}

.qtyIncrease_Button:hover{
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
} */


.qtyIncrease_Button {
  position: relative; 
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: .5s;
}

.qtyIncrease_Button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffee10;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.qtyIncrease_Button:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.qtyIncrease_Button:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}

.booking_details_show{
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 15px 10px -15px rgb(243, 240, 240); 
}

.booking_header{
  color: var(--color-primary);
  font-style: italic;
}

.booking_content{
  color: var(--color-white);
  font-style: italic;
  margin-left: 3px;
}

.booking_details_div{
  display: flex;
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES)========== */

@media screen and (max-width:1024px) {
  .booking_details_show{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0px 15px 10px -15px rgb(243, 240, 240); 
  }
}

/* =========== MEDIA QUERIES (SMALL DEVICES)========== */

@media screen and (max-width:600px) {
  .booking_details_show{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 15px 10px -15px rgb(243, 240, 240); 
  }
}